body {
    background-color: #f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}

.container {
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #332f2f;
    padding: 15px;
    border-radius: 15px;
    box-shadow: #000 2px 2px 10px 0px;
}

.container div {
    display: flex;
    justify-content: space-between;
}

.container .clearDelContainer {
    justify-content: flex-end;
    gap: 17px;
}

.container .clearDelContainer > button {
    color: #fff;
    background-color: #6d6d6d;
}

.display {
    height: 50px;
    justify-content: flex-end;
    background-color: #ceeded;
    border-radius: 10px;
    padding: 0 10px;
}

.display > input {
    width: -webkit-fill-available;
    font-size: 25px;
    text-align: right;
    border: none;
    background-color: #ceeded;
}

.display > input:disabled {
    color: initial;
}

.operator {
    background-color: #fbb229;
}